.gender {
    margin-top: -60px;
}

.name {
    margin-top: 3px;
}

body {
    padding: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("https://previews.123rf.com/images/osaba/osaba1705/osaba170500026/78604345-top-view-business-office-desk-background-the-applying-for-a-job-form-and-pen-pencil-eyeglasses-tree-.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
}

.form {
    font-size: 30px;
    background-color: white;
    opacity: 0.6;
    width: 430px;
    height: 350px;
    padding-left: 30px;
    padding-top: 25px;
}

.btn {
    /* border-radius: 4px;
    background-color: orchid;
    cursor: pointer; */
    background-color: #4CAF50;
    /* Green */
    border: none;
    color: white;
    /* padding: 15px 32px; */
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    height: 35px;
    margin-top: 18px;
    text-align: center;
    border-radius: 10px;
}

.text {
    margin-left: 42px;
}

.mtext {
    margin-left: 63px;
}

.gender {
    font-size: 20px;
}